.main-content {
  overflow: auto;
  max-height: 90vh;
}

/* nav bar */

.navigation-tab {
  position: absolute;
  bottom: 15px;
  border-top: 1px solid darkgray;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: center;
}

nav div {
  text-align: center;
  vertical-align: middle;
  width: 48vw;
  background-color: #efefef;
}

nav div:hover {
  background-color: darkgray;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li { 
  display: inline-block;
  font-size: calc(5px + 1vmin);
}

nav a {
  color: #000;
  text-decoration: none;
}

/* restaurants */
.all-rests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* restaurants description */
.rest-desc-card {
  font-family: sans-serif;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.rest-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}

.r1 {
  font-size: calc(15px + 2vmin);
  color: "black";
}

.rest-desc {
  display: flex;
  justify-content: space-between;
}

.r2 {
  font-size: calc(8px + 1.3vmin);
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}